div{
    text-align: center;
}

button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: azure;
}

.inicio-btn{
    background-color: rgb(68, 177, 92);
}

.pause-btn{
    background-color: yellowgreen;
}

.pare-btn{
    background-color: rgb(180, 37, 37);
}

body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: white;
}

button:hover{
    cursor: pointer;
}
